
docs/sphinx
docs/latex
docs/html
docs/doxygen
docs/docs
docs/_templates
docs/_static
docs/_build
*/CMakeFiles
CMakeCache.txt
CMakeDoxyfile.in
*/Makefile
Makefile
docs/Doxyfile
docs/make.bat
CMakeFiles
cmake_install.cmake
CatCutifier/libCatCutifier.a